on: [ push, pull_request ]
name: test_and_benchmark
jobs:
  test_and_benchmark:
    strategy:
      matrix:
        go-version: [ "1.21.x" ]
        platform: [ self-hosted ]
    runs-on: ${{ matrix.platform }}    
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run tests
        run: go test -v -covermode=count ./...

      - name: Run Benchmarks
        run: go test -bench=. ./...